.calendar .controls {
  height: 58px;
  margin-bottom: 5px;
}
.calendar .controls,
.calendar .controls * {
  text-align: center;
}
.calendar .controls h1 {
  margin: 0;
  display: inline-block;
}
.calendar .controls .short,
.calendar .controls .day {
  display: none;
}
.calendar .controls button {
  width: 70px;
}
.calendar .controls select {
  width: 141px;
  height: 25px;
  margin-bottom: 5px;
  float: right;
}
.calendar .controls input {
  float: left;
}
.calendar .controls button,
.calendar .view.month .day.has-events,
.day-view .close {
    cursor: pointer;
}
.calendar .controls .back {
  float: left;
}
.calendar .controls .fwd {
  float: right;
}


.calendar .view.month .day-names,
.calendar .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.calendar .day-names li {
  text-align: center;
}
.calendar .view.month li {
  border: 1px solid #000;
  list-style: none;
  margin-left: 0;
  overflow: hidden;
}
.calendar .view .day .close {
  display: none;
}
.calendar .view.month * {
  font-size: 16px;
}
.calendar .view.month .day h2 {
  margin: 0;
  padding: 2px 3px;
  background-color: #000;
  color: #fff;
}

.calendar .view.month .day {
  height: 100px;
}

.calendar .day-names {
  font-weight: 800;
  text-decoration: none;
}

.calendar .view.month .day h2 .long {
  display: none;
}

.calendar .view.month ul .short,
.calendar .view.month ul .medium {
  display: none;
}

.calendar .day h3 {
  margin: 0;
  padding: 2px;
}
.calendar .day .event {
  margin: 2px;
  background-color: lightblue;
  border: 1px solid blue;
}
.calendar .view.day h2 .short {
  display: none;
}
.calendar .view.month .day .event {
  height: 25px;
  overflow: hidden;
}

.calendar .view.month .day .no-events {
  display: none;
}

.calendar .view.month .day.selected {
  border-color: orange;
  box-shadow: inset 0px 0px 0px 3px orange;
  box-sizing: border-box; /* Include padding and border in element's width and height */
}
.calendar .view.month .day.selected h2 {
  background-color: orange;
  color: #000;
}
.calendar .view.month .day.prev-mo,
.calendar .view.month .day.next-mo {
  background-color: rgba(0,0,0,.1);
}
.calendar .view.month .day.prev-mo h2,
.calendar .view.month .day.next-mo  h2 {
  background-color: white;
    color: rgba(0,0,0,.5);
}

.calendar .view .day-names {
  display: none;
}

.calendar .view.day .dates .day {
  display: none;
}
.calendar .view.day .dates,
.calendar .view.day .dates .day.selected {
  display: block;
}

.calendar .day h2,
.view.day h2 {
  background-color: black;
  color: white;
}

.calendar .view.day .day .close {
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  margin: 3px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20points%3D%2214%2C3%2011%2C0%207%2C4%203%2C0%200%2C3%204%2C7%200%2C11%203%2C14%207%2C10%2011%2C14%2014%2C11%2010%2C7%20%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  border: none;
}

.calendar .view.week .dates {
  display: block;
}
.calendar .view.week .day {
  display: none;
}
.calendar .view.week .day.selected-week {
  display: block;
}
