body {
  padding: 20px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
#error {
  display: none;
}
#error code {
  padding: 2px 4px;
  font-size: 120%;;
  background-color: rgba(0, 0, 0, .1);
  font-weight: 700;
}
